.sectionDescription {
  height: 52.75rem;
  margin-bottom: 3.75rem;
}
.sectionDescription .sectionInner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sectionDescription .descriptionText {
  font-family: "IBMPlex";
  font-weight: 100;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  padding: 12.75rem 8.4375rem 12.375rem 8.375rem;
  width: 50rem;
  height: 52.75rem;
  background-color: #F3F3F3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.sectionDescription .descriptionText p {
  margin-bottom: 2.5rem;
}
.sectionDescription .descriptionImg {
  -o-object-fit: cover;
  object-fit: cover;
  width: 50.6875rem;
  height: 52.75rem;
}