.sectionForm {
  height: 30rem;
  background-color: #CEA48B;
  color: #FFFFFF;
}
.sectionForm .sectionInner {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sectionForm .subTitle {
  font-family: "IBMPlex";
  font-weight: 300;
  font-size: 0.875rem;
  opacity: 0.6;
  margin-top: 3.75rem;
}
.sectionForm .title {
  font-family: "IBMPlex";
  font-weight: 100;
  font-size: 3.625rem;
  letter-spacing: 0.15em;
  margin-top: 3.75rem;
}
.sectionForm .form {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 40.75rem;
  height: 11.75rem;
  margin-bottom: 3.75rem;
}
.sectionForm .formLine {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sectionForm .form .formsInput {
  width: 13.1875rem;
  height: 2.5rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-align: right;
  font-family: "IBMPlex";
  font-weight: 300;
  font-size: 0.875rem;
  padding: 0.9375rem;
}
.sectionForm .form .formsInput::-webkit-input-placeholder {
  color: #FFFFFF;
}
.sectionForm .form .formsInput::-moz-placeholder {
  color: #FFFFFF;
}
.sectionForm .form .formsInput:-ms-input-placeholder {
  color: #FFFFFF;
}
.sectionForm .form .formsInput::-ms-input-placeholder {
  color: #FFFFFF;
}
.sectionForm .form .formsInput::placeholder {
  color: #FFFFFF;
}
.sectionForm .form .comments {
  font-family: "IBMPlex";
  font-weight: 300;
  font-size: 0.875rem;
  padding: 0.75rem;
  width: 100%;
  height: 5rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-align: right;
  resize: none;
}
.sectionForm .form .comments::-webkit-input-placeholder {
  color: #FFFFFF;
}
.sectionForm .form .comments::-moz-placeholder {
  color: #FFFFFF;
}
.sectionForm .form .comments:-ms-input-placeholder {
  color: #FFFFFF;
}
.sectionForm .form .comments::-ms-input-placeholder {
  color: #FFFFFF;
}
.sectionForm .form .comments::placeholder {
  color: #FFFFFF;
}
.sectionForm .form .btn {
  width: 100%;
  height: 3rem;
  color: #757575;
  background-color: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "IBMPlex";
  font-weight: 300;
  font-size: 1.125rem;
}
.sectionForm .form .btn:active {
  background-color: #f1f0f0;
}