.sectionHeader {
  height: 51.25rem;
  background: #0000FF url(/img/png/headerBg.png) 50% 50% no-repeat;
  background-size: cover;
  position: relative;
}
.sectionHeader::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.sectionHeader .headerNav {
  position: absolute;
  top: 5.375rem;
  left: 0;
  z-index: 20;
  font-family: "IBMPlex";
  font-weight: 300;
  font-size: 1.125rem;
  width: 100%;
  height: 4.1875rem;
}
.sectionHeader .headerNav .sectionInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sectionHeader .headerNav .navLink {
  color: #FFFFFF;
  flex-grow: 1;
  letter-spacing: 0.25em;
  margin-top: 1.25rem;
  text-align: center;
  width: 7.5rem;
}
.sectionHeader .headerNav .navLink:hover {
  color: #b9b9b9;
}
.sectionHeader .headerNav .logo {
  height: 4.1875rem;
  flex-grow: 10;
  text-align: center;
}
.sectionHeader .headerNav .logo .logoImg {
  width: 9.4375rem;
  height: 4.1875rem;
}
.sectionHeader .headerText {
  color: #FFFFFF;
  width: 100%;
  position: absolute;
  bottom: 2.25rem;
  left: 0;
  z-index: 20;
  height: 6.25rem;
}
.sectionHeader .headerText .sectionInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sectionHeader .headerText .sectionInner .title {
  font-family: "IBMPlex";
  font-weight: 100;
  font-size: 2.625rem;
  letter-spacing: 0.15em;
}
.sectionHeader .headerText .sectionInner .subTitle {
  font-family: "IBMPlex";
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 0.2em;
}