.sectionHeader ._mob {
  display: none;
  position: absolute;
  top: 5.375rem;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 4.1875rem;
}
.sectionHeader .burger-menu {
  display: none;
}
.sectionHeader .burger {
  margin-top: 1.25rem;
  width: 6.25rem;
  height: auto;
  border: none;
}
.sectionHeader .headerNav {
  position: absolute;
  top: 5.375rem;
  left: 0;
  z-index: 20;
  font-family: "IBMPlex";
  font-weight: 300;
  font-size: 1.125rem;
  width: 100%;
  height: 4.1875rem;
}
.sectionHeader .headerNav .sectionInner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sectionHeader .headerNav .navLink {
  font-family: "IBMPlex";
  font-weight: 100;
  font-size: 1rem;
  color: #FFFFFF;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  letter-spacing: 0.25em;
  text-align: center;
  width: 7.5rem;
}
.sectionHeader .headerNav .navLink:hover {
  color: #b9b9b9;
}
.sectionHeader .headerNav .logo {
  height: 4.1875rem;
  -webkit-box-flex: 10;
  -webkit-flex-grow: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  text-align: center;
}
.sectionHeader .headerNav .logo .logoImg {
  width: 9.4375rem;
  height: 4.1875rem;
}
.sectionHeader .owl-carousel {
  background-color: black;
  position: relative;
}
.sectionHeader .owl-carousel .owl-nav {
  position: absolute;
  margin: 0 auto;
  max-width: 100.625rem;
  min-width: 18.75rem;
  height: 6.25rem;
  bottom: 1.875rem;
  right: 0;
  left: 0;
  z-index: 210;
  padding: 0 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sectionHeader .owl-carousel .owlItem {
  height: 51.25rem;
  position: relative;
}
.sectionHeader .owl-carousel .owlItem .slideImg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.sectionHeader .owl-carousel .owlItem::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.sectionHeader .owl-carousel .owl-prev {
  background: transparent url(/img/svg/arrowPrew.svg) 50% 50% no-repeat;
  background-size: contain;
  width: 3.875rem;
  height: 0.75rem;
}
.sectionHeader .owl-carousel .owl-prev span {
  display: none;
}
.sectionHeader .owl-carousel .owl-next {
  background: transparent url(/img/svg/arrowNext.svg) 50% 50% no-repeat;
  background-size: contain;
  width: 3.875rem;
  height: 0.75rem;
}
.sectionHeader .owl-carousel .owl-next span {
  display: none;
}
.sectionHeader .headerText {
  color: #FFFFFF;
  width: 100%;
  position: absolute;
  bottom: 2.25rem;
  left: 0;
  z-index: 20;
  height: 6.25rem;
}
.sectionHeader .headerText .sectionInner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sectionHeader .headerText .sectionInner .title {
  font-family: "IBMPlex";
  font-weight: 100;
  font-size: 2.625rem;
  letter-spacing: 0.15em;
  margin-right: -0.15em;
  text-align: right;
  text-transform: uppercase;
}
.sectionHeader .headerText .sectionInner .subTitle {
  font-family: "IBMPlex";
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 0.2em;
}
.sectionHeader ._grayBG {
  position: relative;
  top: 0;
  left: 0;
  background-color: #474849;
  height: 8.75rem;
}
.sectionHeader ._otherPages {
  position: relative;
  top: 0;
  left: 0;
  background-color: #CEA48B;
  height: 12.8125rem;
  margin-bottom: 4.0625rem;
}
.sectionHeader ._otherPages .sectionInner {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sectionHeader ._otherPages .sectionInner .title {
  margin-bottom: 0.4375rem;
  text-align: right;
}
.sectionHeader ._otherPages .sectionInner .subTitle {
  font-family: "IBMPlex";
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.2em;
  opacity: 0.6;
}