@import 'fonts.scss';
.sectionDescription{
    height: 844px;
    margin-bottom: 60px;
    
    .sectionInner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    .descriptionText{
        font-family: "IBMPlex";
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 0.1em;
        padding: 204px 135px 198px 134px;
        width: 800px;
        height: 844px;
        background-color: #F3F3F3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        p{
            margin-bottom: 40px;
        }
    }
    .descriptionImg{
        width: 811px;
        height: 844px;
    }
}