@import 'fonts.scss';
.sectionFooter{
    background-color: #474849;
    width: 100%;
    height: 294px;
    color: #FFFFFF;
    .sectionInner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .copyright{
        font-family: "IBMPlex";
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 0.25em;
    }
    .Logo{
        width: 106px;
        height: 47px;
    }
    .social{
    width: 84px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;
        &Link{
            display: flex;
            border: 1px solid rgba(255, 255, 255, 1);
            width: 35px;
            height: 35px;
            align-items: center;
            justify-content: center;
            &Img{
                
            }
        }
        
    }
}