@import 'mixins.scss';
.sectionHeader{
    height: toRem(820);
    background: #0000FF url(/img/png/headerBg.png) 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); 
    }
    .headerNav{
        position: absolute;
        top: toRem(86);
        left: 0;
        z-index: 20;
        @include IBMPlexLight(18);
        width: 100%;
        height: toRem(67);
        .sectionInner{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .navLink{
            color: #FFFFFF;
            flex-grow: 1;
            letter-spacing: 0.25em;
            margin-top: toRem(20);
            text-align: center;
            width: toRem(120);
            &:hover{
                color: #b9b9b9;
            }
        }
        .logo{
            height: toRem(67);
            flex-grow: 10;
            text-align: center;
            .logoImg{
                width: toRem(151);
                height: toRem(67) ;
            }
        }
    }
    .slider{}
    .headerText{
        color: #FFFFFF;
        width: 100%;
        position: absolute;
        bottom: toRem(36);
        left: 0;
        z-index: 20;
        height: toRem(100);
        
        .sectionInner{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            
            .title{
                @include IBMPlexExtraLight(42);
                letter-spacing: 0.15em;
            }
            .subTitle{
                @include IBMPlexLight(20);
                letter-spacing: 0.2em;
            }
        }
    }
}