@import 'mixins.scss';
@media (max-width: 1610px) {
    .sectionInner{
        padding: 0 toRem(20);
    }
    .sectionPojects{
        .fistColumn{
            margin-right: 50px;
        }
    }
    html{
        font-size: 15px;
    }
}
@media (max-width: (1500-1)+px) {
    .TelAvivProject{
        .description{
            .fistImg{
                height: auto;
                width: toRem(680);
            }
        }
        .cards{
            .smallImgCard,
            .bigImgCard{
                width: toRem(440);
                height: auto;
            }
            
        }
    }
}
@media (max-width: (1300-1)+px) {
    .sectionDescription{
        .descriptionImg{
            width: toRem(640);
        }
    }
    .TelAvivProject{
        .description{
            .fistImg{
                height: auto;
                width: toRem(650);
            }
        }
        .cards{
            .smallImgCard,
            .bigImgCard{
                width: toRem(400);
                height: auto;
            }
            
        }
    }

}
@media (max-width: (1200-1)+px) {
    html{
        font-size: 13px;
    }
    .TelAvivProject{
        .description{
            .fistImg{
                height: auto;
                width: toRem(600);
            }
        }
        .cards{
            .smallImgCard,
            .bigImgCard{
                width: toRem(380);
                height: auto;
            }
            
        }
    }
}
@media (max-width: (992-1)+px) {
    html{
        font-size: 11px;
    }
    
}
@media (max-width: (850-1)+px) {
    .sectionDescription{
        .descriptionImg{
            width: toRem(550);
        }
    }
    .TelAvivProject{
        .description{
            .TelAvivText{
                font-size: toRem(18);
            }
        }
        .cards{
            .smallImgCard,
            .bigImgCard{
                width: toRem(350);
                height: auto;
            }
            
        }
    }
}
@media (max-width: (801-1)+px) {
    .sectionPojects{
        .projectCards{
            height: auto;
            flex-direction: column;
        }
        .fistColumn{
            margin-right: 0;
        }
        ._marginTop370{
            margin-top: 0;
        }
    }

    .TelAvivProject{
        .description{
            .sectionInner{
                flex-direction: column;
                .TelAvivText{
                    width: toRem(700);
                }
                .fistImg{
                    width: toRem(700);
                    order: 2;
                }
            }
        }
        .cards{
            .sectionInner{
                flex-direction: column;
            }
            .smallImgCard,
            .bigImgCard{
                width:  toRem(496);
            }
        }
    }    
}
@media (max-width: (768-1)+px) {
    html{
        font-size: 16px;
    }
    .sectionHeader{
        .owl-carousel{
            .owlItem{
                height: toRem(400);
            }
        }
        height: toRem(400);
        .headerText{
            top: toRem(200);
        }
        .headerNav{
            display: none;
        }
        ._mob{
            display: block;
            
        }
        .burger-menu{
            display: block;
        }
        .burger-menu_button {
            position: fixed;
            top: toRem(92);
            left: toRem(35);
            z-index: 80;
            width: toRem(50);
            height: toRem(50);
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
            &_active{
                left: toRem(75);
            }
          }

          .burger-menu_button:hover .burger-menu_lines {
            filter: brightness(0.7);
          }
          
          .burger-menu_button:hover {
            background-color: rgba(0, 0, 0, 0.7);
          }
          
          .burger-menu_lines::before,
          .burger-menu_lines::after,
          .burger-menu_lines {
            position: absolute;
            width: toRem(30);
            height: toRem(2);
            background-color: #ffffff;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
          }
          .burger-menu_lines {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .burger-menu_lines::before {
            content: '';
            top: toRem(-8);
          }
          .burger-menu_lines::after {
            content: '';
            top: toRem(8);
          }
          
          
          .burger-menu_active .burger-menu_lines {
            background-color: transparent;
          }
          .burger-menu_active .burger-menu_lines::before {
            top: 0;
            transform: rotate(45deg);
          }
          .burger-menu_active .burger-menu_lines::after{
            top: 0;
            transform: rotate(-45deg);
          }
          
          .burger-menu_nav {
            padding-top: toRem(180);
            position: fixed;
            top: 0;
            z-index: 70;
            display: flex;
            flex-flow: column;
            height: 100%;
            background-color: #000000;
            overflow-y: auto;
            left: -100%;
            -webkit-transition: 0.8s;
            -moz-transition: 0.8s;
            -o-transition: 0.8s;
            transition: 0.8s;
          }
          .burger-menu_active .burger-menu_nav {
            left: 0;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
          }
          .burger-menu_link {
            // padding: 18px 35px;
            @include IBMPlexExtraLight(18);
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: #ffffff;
            border-bottom: 1px solid #fff;
            width: toRem(200);
            height: toRem(50);
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .burger-menu_link:first-child {
            border-top: 1px solid #fff;
          }
          .burger-menu_link:hover {
            filter: brightness(0.9);
          }
          .burger-menu_overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 50;
          }
          .burger-menu_active .burger-menu_overlay {
            display: block;
            background-color: rgba(0, 0, 0, 0.5);
          }
        
    }
    .sectionDescription{
        .descriptionText{
            padding: toRem(204) toRem(50) toRem(198) toRem(50);
        }
        .descriptionImg{
            width: toRem(400);
        }
    }
    .sectionPojects{
        .cardText{
            bdo{
                width: 90%;
            }
        }
        .fistColumn,
        .secondColumn{
            width: 100%;
            align-items: center;
            justify-content: center;

            .smallCard,
            .bigCard,
            .s_mediumCard,
            .mediumCard{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .cardImg{
                    margin: 0;
                    width: 75%;
                    height: auto;
                   
                    // height: toRem(517);
                }
            }
        }
    } 

    .sectionDescription{
        height: auto;
        .sectionInner{
            flex-direction: column;
            .descriptionText{
                width:100%;
                height: 100%;
                padding: toRem(80) toRem(100);
            }
            .descriptionImg{
                width: 100%;
            }
        }
    }

    .sectionForm {
        height: toRem(700);
        .form{
            height: toRem(400);
            width: 100%;
            .formsInput,
            .comments{
                font-size: 1rem;
                width: 75%;
                margin-bottom: toRem(20);
            }
            .btn{
                font-size: 1.3rem;
                width: 75%;
                height: toRem(70);
            }
            .comments{
                height: toRem(200);
            }
            &Line{
                flex-direction: column;
                width: 100%;
            }
        }
    }

    .TelAvivProject{
        .description{
            .sectionInner{
                flex-direction: column;
                .TelAvivText{
                    width: 100%;
                }
                .fistImg{
                    width: 100%;
                    order: 2;
                }
            }
        }
        
    }
}
@media (max-width: (576-1)+px){

    html {
        font-size: 13px;
    }
    .sectionHeader{ 
        .owl-carousel{
            .owl-nav{
                display: none;
            } 
        }
    }
}
@media (max-width: (360-1)+px){

    html {
        font-size: 7px;
    }
    // .sectionForm {
    //     .form{
    //         .formsInput,
    //         .comments{
    //             font-size: 1rem;
    //         }
    //         .btn{
    //             font-size: 1.3rem;
    //         }
    //     }
    // }
    
}
@media (max-width: (260-1)+px){
    html {
        font-size: 6px;
    }
}