@import 'mixins.scss';
.sectionPojects{
    .sectionInner{}
    .projectCards{
        height: toRem(3420);
        border: none;
        border-bottom: 1px solid #CEA48B;
        margin-top: toRem(60);
        margin-bottom: toRem(60);
        padding-top: toRem(25);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
    }
    
    .title{
        @include IBMPlexExtraLight(34);
        letter-spacing: 0.1em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #222222;
        margin-top: toRem(32);
        margin-bottom: toRem(21);
        text-transform: uppercase
    }
    .cardText{
        @include IBMPlexExtraLight(20);
        letter-spacing: 0.1em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #757575;
        margin: 0 toRem(30);
        margin-bottom: toRem(100);
        bdo{
            width: toRem(530);
            text-align: center;
        }
    }
    .cardImg{
        object-fit: cover;
    }
    .smallCard,
    .bigCard,
    .s_mediumCard,
    .mediumCard{
        cursor: pointer;
        &:hover{
            box-shadow: 0px 0px 20px 14px rgba(167, 175, 182, 0.2);
        }
    }
    .fistColumn{
        height: 100%;
        width: toRem(775);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .smallCard,
        .bigCard,
        .s_mediumCard,
        .mediumCard{
            margin-bottom: toRem(10);
        }
    }
    .secondColumn{
        height: 100%;
        width: toRem(775);
        padding-top: toRem(50);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .smallCard{
        .cardImg{
            width: 100%;
            height: toRem(517);
        }
    
    }
    .bigCard{
        .cardImg{
            width: 100%;
            height: toRem(1070);
        }
    }
    .s_mediumCard{
        .cardImg{
            width: 100%;
            height: toRem(928);
        }
    
    }
    
    .mediumCard{
        .cardImg{
            width: 100%;
            height: toRem(792);
        }
    
    }
    .spacerViewMore{}
    .viewMoreLink{
        width: 100%;
        height: toRem(32);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: toRem(60);
        @include IBMPlexExtraLight(34);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #757575;
    }
    ._borderNone{
        border: none;
    }
    ._marginTop370{
        margin-top: toRem(370);
    }
}