@import 'mixins.scss';
.sectionDescription{
    height: auto;
    margin-bottom: toRem(60);
    
    .sectionInner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .descriptionText{
        @include IBMPlexExtraLight(20);
        width:100%;
        height: 100%;
        padding: toRem(80) toRem(100);
        letter-spacing: 0.1em;
        background-color: #F3F3F3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        order: 1;
        p{  
            margin-bottom: toRem(40);
        }
    }
    .descriptionImg{
        object-fit: cover;
        order: 1;
        width: 100%;
        height: toRem(844);
    }
}