@import 'mixins.scss';
.sectionForm{
    height: toRem(900);
    background-color: #CEA48B;
    color: #FFFFFF;
    .sectionInner{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .subTitle{
        @include IBMPlexLight(20);
        opacity: 0.6;
        margin-top: toRem(60);
    }
    .title{
        @include IBMPlexExtraLight(58);
        letter-spacing: 0.15em;
        margin-top: toRem(60);
    }
    .form{
        margin-top: toRem(30);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: toRem(500);
        margin-bottom: toRem(60);
        &Line{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            
        }
        .formsInput{
            width: 100%;
            height: toRem(40);
            background-color: transparent;
            outline: none;
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
            text-align: right;
            @include IBMPlexLight(18);
            padding: toRem(15); 
            margin-bottom: toRem(20);

            &::placeholder{
                color: #FFFFFF;
            }  
        }
        .comments{
            @include IBMPlexLight(18);
            padding: toRem(12);
            width: 100%;
            height: toRem(200);
            background-color: transparent;
            outline: none;
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
            text-align: right;
            resize: none;
            margin-bottom: toRem(20);

            &::placeholder{
                color: #FFFFFF;
            }  
        }
        .btn{
            width: 100%;
            height: toRem(70);
            color: #757575;
            background-color: #FFFFFF;
            outline: none;
            border: none;
            cursor: pointer;
            @include IBMPlexLight(18);
            font-size: 1.3rem;
            &:active{
                background-color: #f1f0f0;
            }

        }
    }
}